:root {
  --main-color-yellow: #FEC739;
  --main-color-blue: #002554;
  --primary-color: #002554;
  --bg-color: #05183B;
  --sub-color: #FFB81c;
  --font-color-bk: #222222;
  --font-color-gr: #6c737e;
  --font-color-dark: #666666;
  --title1: 48px;
  --title2: 40px;
  --title3: 30px;
  --title4: 26px;
  --title5: 24px;
  --text1: 22px;
  --text2: 20px;
  --text3: 18px;
  --text4: 16px;
  --bold: 700;
  --semi: 600;
  --medium: 500;
  --regular: 400;
}

html {
  font-family: "Pretendard", sans-serif;
}

section {
  height: 100vh;
  min-height: 805px;
  overflow: hidden;
}

.inner {
  /* margin: auto; */
  margin: 120px auto;
  max-width: 1600px;
  /* 수정 */
  width: 100%;
  background-color: rgba(0, 255, 0, 0.2);
}

/* ji */
/* section title 공통사항 */
/* 수정 */
.section-title {
  font-size: var(--title2);
  font-weight: 700;
  color: #222222;
  padding-left: 0;
  text-align: left;
  margin-bottom: 36px;
}

.faq-wrap {
  margin-top: 100px;
}

.faq-content-wrap {
  display: flex;
  justify-content: space-between;
}

.faq-top {
  align-items: center;
}

.faq-top>.section-title {
  font-size: 40px;
}

.faq-top,
.benefit-wrap>h2 {
  margin-bottom: 30px;
  display: flex;
}

.faq-top>.faq-tab {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.faq-tab>.tab {
  font-size: 20px;
  font-weight: 600;
  color: var(--font-color-gr);
  padding: 0 20px;
  position: relative;
  gap: 20px;
}

.faq-tab>.tab:hover {
  color: var(--primary-color);
}

.faq-tab .active {
  color: var(--primary-color);
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 3px;
  background-color: var(--primary-color);
}



.faq-list {
  display: none;
  /* display: flex; */
  gap: 30px;
  transform: translateY(-20px);
}

.faq-list.active {
  display: flex;
  animation: fadeAni 0.8s;
}

@keyframes fadeAni {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

.faq-list>.faq-item {
  display: flex;
  /* justify-content: center; */
  /* align-items: flex-start; */
  width: 400px;
  height: 220px;
  /* border-outline 명령어는 똑같은데, 
    outline 테두리와 유사하지만 공간을 차지하지 않는다 */
  outline: 2px solid #d9d9d9;
  border-radius: 28px;
  padding: 24px 40px;
}

.faq-item:hover {
  outline: 2px solid var(--sub-color);
}

/* .faq-item>.faq-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 260px;
  word-wrap: break-word;
} */

.faq-content>.faq-items {
  display: block;
  padding: 10px;
}

.faq-item .faq-Q {
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-color);
  padding-bottom: 16px;
}

.faq-item:hover .faq-Q {
  color: var(--sub-color);
}