/* 1700px */
@media screen and (max-width:1700px) {
  html {
    font-size: 9.5px;
  }

  .header-wrap {
    padding: 0 20px;
  }

  .inner {
    max-width: 1360px;
    height:100%;
    /* height:calc(var(--vh) * 100); */
    /* margin-top: 74px;
    margin-bottom: 48px; */
    padding: 100px 20px 48px 20px;
  }

  .ticket-wrap .inner{
    height:auto;

    bottom:0px;
  }

  .swiper-slide .text-box {
    max-width: 1360px;
    padding: 0 20px;
    top:30%;
  }

  .main-slider-wrap .swiper-pagination {
    max-width: 1360px;
    padding: 0 20px;
    top:38%;
  }

  .ticket-search {
    padding: 24px;
  }

  footer .inner{
    padding:40px 20px;
  }
}


/* 1500px */

@media screen and (max-width:1500px) {
  .ticket-search {
    padding: 22px;
  }
}


/* 1460px */
@media screen and (max-width:1460px) {
  html {
    font-size: 9.2px;
  }

  .ticket-content-wrap img {
    width: 21px;
    height: 21px;
  }


}

/* 1375px */
@media screen and (max-width:1370px) {
  html {
    font-size: 8.5px;
  }

  .ticket-content-wrap img {
    width: 20px;
    height: 20px;
  }

  .ticket2,
  .ticket3 {
    grid-template-columns: 33.3% repeat(3, 1fr);
  }

  .ticket2 .passenger,
  .ticket3 .passenger {
    grid-column: 3/5;
  }
}

/* 1280px */
@media screen and (max-width:1280px) {
  .ticket-search {
    padding: 20px;
  }

  .ticket1 .itinerary,
  .ticket1 .calendar {
    gap: 18px;
  }

  .ticket1 .ticket-search img {
    display: none;
  }


  .ticket-content-wrap>div {
    height: 140px;
  }

}


/* 1095px */
@media screen and (max-width:1095px) {

  .inner {
    max-width: 1095px;
  }

  /* header */
  header {
    height: 52px;
  }

  .header-wrap {
    height: 52px;

    align-items: center;
  }

  .nav {
    display: none;
  }

  .gnb {
    display: none;
  }

  .logo {
    height: 40px;
  }

  .logo a img {
    height: 28px;
  }


  .m-ham {
    display: flex;
    align-items: center;
  }

  .m-ham a img {
    height: 30px;
  }

  /* moblie-nav */
  .nav-m {
    width: 100%;
    height: 100vh;

    z-index: 100;
  }

  .m-gnb-wrap {
    background: #fff;

    width: 100%;
    height: 52px;
    padding: 10px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: var(--text4);
  }

  .m-lang {
    display: flex;
    gap: 4px;
    align-items: center;

    cursor: pointer;
  }

  .m-lang>img:first-child {
    width: 22px;
    height: 22px;
  }

  .nav-m-top-right {
    display: flex;
    align-items: center;
    gap: 28px;
  }

  .m-search {
    width: 22px;
    line-height: 22px;
    background: transparent;
    border: 0;

    cursor: pointer;
  }

  .m-search img {
    width: 22px;
    height: 22px;
  }


  .m-login>a:hover {
    color: var(--main-color-blue);
    font-weight: var(--medium);
  }

  .m-login a:first-child:after {
    content: "|";
    padding: 0 8px;
    color: #cfcfcf;
  }


  .m-close-btn img {
    width: 22px;
    height: 22px;

    cursor: pointer;
  }

  .nav-m hr {
    border: none;

    height: 8px;
    background-color: #f7f7f7;
    opacity: 100%;
  }

  .nav-m-wrap {
    display: flex;

    height: 100%;

    background: #fff;
  }

  .m-main-menu {
    background: var(--main-color-blue);
    color: #fff;

    font-size: var(--text3);

    width: 36%;
    min-width: 140px;
  }

  .m-main-menu li {
    width: 100%;

    padding: 16px 24px 16px 20px;
  }

  .m-main-menu li.active {
    background: #fff;
    color: var(--main-color-blue);
    font-weight: var(--bold);
  }

  .m-sub-menu {
    width: 64%;
    height: 100%;

    overflow-y: auto;

    font-size: var(--text4);
  }

  .m-sub-menu::after {
    content: "";
    display: block;
    width: 100%;
    height: 28px;
    background: #fff;
  }

  .m-sub-menu>div {
    display: none;
    padding: 16px 20px;
  }

  .m-sub-menu>div.active {
    display: block;
  }

  .m-sub-menu h2 {
    font-size: var(--text3);
    margin-bottom: 16px;
  }

  .m-sub-menu h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--main-color-blue);
    margin-top: 8px;
  }

  .m-sub-menu>div ul {
    margin-bottom: 40px;
  }

  .m-sub-menu>div li {
    margin-bottom: 16px;
  }


  /*m-gnb-pannel*/
  .m-gnb-panel {
    width: 100%;
    background: #fff;
  }

  .m-gnb-panel>div {
    display: none;
    transition: 0, 5s;
  }

  .m-gnb-panel>div.active {
    display: block;
  }

  .m-lang-panel {
    font-size: var(--text4);
    padding: 10px 36px 28px 36px;
  }

  .m-lang-panel li {
    padding: 8px 0;
  }

  .m-lang-panel li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .m-lang-panel li img {
    width: 18px;
    height: 18px;
  }

  .m-search-panel {
    padding: 10px 36px 28px 36px;

    display: flex;
    justify-content: space-between;
  }

  .m-search-panel P {
    display: flex;
    justify-content: space-between;
  }

  .m-search-panel input {
    width: 90%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--main-color-blue);
  }

  .m-search-panel button {
    outline: none;
    border: none;
    background: transparent;
    width: 22px;
    height: 22px;
  }

  .m-search-panel button img {
    width: inherit;
    height: inherit;
  }


  .m-login-panel {
    font-size: var(--text4);
    padding: 10px 36px 28px 36px;
  }

  .m-login-panel>div {
    padding: 16px 0;
  }

  .m-login-panel input {
    width: 100%;

    padding-top: 16px;

    outline: none;
    border: none;
    border-bottom: 1px solid var(--main-color-blue);
  }

  .m-login-panel button {
    width: 100%;
    height: 40px;

    background: var(--main-color-blue);
    color: #fff;
    font-weight: var(--semi);
  }


  /* section_1 */
  .ticket-content-wrap>div {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    padding: 12px;
  }

  .tab-menu-list {
    width: 100%;
  }

  .ticket1 .ticket-search img {
    display: block;
  }

  .ticket1 .passengers {
    grid-template-columns: repeat(2, 1fr);
  }

  .ticket1 .passengers>div:last-child {
    margin-left: 30px;
  }

  .ticket1>div:not(:last-child),
  .ticket2>div:not(:last-child),
  .ticket3>div:not(:last-child) {
    border-bottom: 1px solid #eee;
  }

  .ticket2 .passenger,
  .ticket3 .passenger {
    grid-column: auto;
  }

  .ticket1 .itinerary,
  .ticket1 .calendar {
    border-right: none;
  }

  .flight-search,
  .calendar {
    border-right: none;
  }


  /* section_3 */
  .notification-box .inner {
    margin-top: 72px;
    margin-bottom: 48px;
    padding: 0 20px;
  }

  .contents {
    width: auto;
    height: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, clamp(120px, 30vw, 236px));
    gap: 18px;
    overflow: hidden;
  }

  .box1 {
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    height: 100%;
  }

  .box1 .event-img {
    border-radius: 24px 0 0 24px;

    display: flex;
    flex: 0 0 50%;
    align-items: center;
    justify-content: center;

    height: 100%;
    overflow: hidden;
  }

  .box1 .event-img img {
    width: 125%;
    height: 110%;
    object-fit: cover;
    object-position: center center;
  }

  .box2 {
    grid-row: 2/3;
    grid-column: 1/2;
    height: 100%;
    padding: 30px;
  }

  .box3 {
    grid-row: 2/3;
    grid-column: 2/3;
    height: 100%;
    padding: 30px;
  }

  .box4 {
    grid-row: 3/4;
    grid-column: 1/3;
    height: 100%;
  }

  .cate-title {
    margin-bottom: 20px;
  }

  .box-title {
    margin-bottom: 12px;
  }

  .box-article {
    margin-bottom: 12px;
    line-height: 20px;
  }

  /* footer */

  footer .inner {
    padding: 20px;
    /* margin: 40px auto; */
  }

  .footer-wrap {
    height: 100%;
  }

  .footer-top {
    display: block;
  }

  .footer-menu {
    display: block;
  }


  .footer-menu>li>a {
    display: inline-block;

    width: 100%;
    height: 100%;
  }

  .footer-menu>li>a>p {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 16px 0;
  }

  .footer-menu>li>a.active img {
    transform: rotate(180deg);
  }

  .footer-menu>li>a:hover {
    background: #14234d;
  }

  .footer-menu>li>a:hover p {
    font-weight: var(--bold);
  }

  .footer-menu>li::after {
    content: "";
    display: block;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 1px;
  }

  .m-footer-menu-btn {
    display: block;
  }

  .sub-footer-menu {
    position: static;
    height: 0;
    overflow: hidden;

    line-height: 2.5;

    transition: 0.3s;
  }

  .sub-footer-menu>li>a:hover {
    color: #fff;
    font-weight: var(--regular);
  }

  .sub-footer-menu li:last-child {
    margin-bottom: 8px;
  }

  .footer-top-right {
    margin-top: 40px;
  }

  .custom-center button {
    width: 100%;
  }

  .footer-bottom {
    display: block;
  }

  .footer-bottom-left span {
    display: block;
    margin-bottom: 2px;
    ;
  }

  .footer-bottom-left>p {
    margin-bottom: 0;
  }

  .footer-logo {
    margin-top: 30px;
  }
}




/* 720px */
@media screen and (max-width:720px) {
  /* section3 */


  .contents .box-article {
    display: none;
  }
}