:root {
  --main-color-yellow: #FEC739;
  --main-color-blue: #002554;
  --primary-color: #002554;
  --bg-color: #05183B;
  --sub-color: #FFB81c;
  --font-color-bk: #222222;
  --font-color-gr: #6c737e;
  --font-color-dark: #666666;
  --title1: 48px;
  --title2: 40px;
  --title3: 30px;
  --title4: 26px;
  --title5: 24px;
  --text1: 22px;
  --text2: 20px;
  --text3: 18px;
  --text4: 16px;
  --bold: 700;
  --semi: 600;
  --medium: 500;
  --regular: 400;
}

html {
  font-family: "Pretendard", sans-serif;
}

section {
  height: 100vh;
  min-height: 805px;
  overflow: hidden;
}

.inner {
  /* margin: auto; */
  margin: 120px auto;
  max-width: 1600px;
  /* 수정 */
  width: 100%;
  /* background-color: rgba(0, 255, 0, 0.2); */
}

/* section title 공통사항 */
/* 수정 */
.section-title {
  font-size: var(--title2);
  font-weight: 700;
  color: #222222;
  padding-left: 0;
  text-align: left;
  margin-bottom: 36px;
}

    /*section1*/

/* 메인슬라이드영역 */
.main-slider-wrap{
  position:relative;
  width:100%;
  height:100vh;
}

.main-slider-wrap .text-box {
  position: absolute;

  max-width:1600px;
  width:100%;
  height:auto;

  /* background:rgba(177, 5, 14, 0.2); */

  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3.2rem;
}

.main-slider-wrap .swiper-pagination {
  position: absolute;

  max-width:1600px;
  width:100%;
  
  top: 380px;
  left:50%;
  transform:translateX(-50%);

  text-align:left;

  /* background:rgba(177, 5, 14, 0.2); */
}

.swiper-pagination-bullet {
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
  z-index: 1000;
  width:15px;
  height:15px;
}

.swiper-pagination-bullet-active {
  width: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: left;
}

.swiper-slide .text-box {
  z-index: 100;
}

.swiper-slide .img-box {
  width:100%;
  height:100%;
  overflow: hidden;
  filter: brightness(68%);
}

.swiper-slide img,
.swiper-slide video {
  display: block;
  width: 100%;
  height:100%;
  object-fit: cover;
}


/* 티켓영역 */

.ticket-wrap .inner {
  position: absolute;
  bottom:0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.tab-menu-list {
  display: flex;
}

.tab-menu-list .active {
  background: #fff;
  color: #222;
  font-weight: 600;
}

.tab-menu-list>li {
  width: 9.85rem;
  height: 60px;
  background: #001C40;
  text-align: center;
  line-height: 60px;
  font-size: var(--text3);
  font-weight: 400;
  margin-right: 1px;
  color: #ffffff;
  cursor: pointer;
}

.ticket-content-wrap {
  display: none;
}

.ticket-content-wrap.active {
  display: block;
}

/* 티켓 탭내용 */
.ticket-list {
  height: 145px;
  background: #fff;
  display: flex;
}

/* 자식들을 1대1대1 */
.ticket-list>div {
  flex: 1;
}


/* 출발지,도착지 선택 */
.itinerary,
.flight-search {
  display: flex;
  border-right: 1px solid #eee;
  gap: 20px;
}

.itinerary>img,
.calendar>img,
.start-date>img {
  width: 24px;
  height: 24px;
  margin-top: 76px;
}

.ticket-search {
  /* width: 14rem; */
  padding: 2.2rem;
  text-align: left;
  border: 0;
  background: transparent;
  cursor: pointer;
  position: relative;
}


/* 날짜선택 */
.ticket-menu-wrap>div span {
  font-size: 1.1rem;
  color: #626262;

}

.calendar {
  border-right: 1px solid #eee;
  display: flex;

}

.ticket-search>div {
  display: flex;
}

.ticket-list button,
.ticket-list input {
  width: 100%;
  border: transparent;
  background: transparent;
  font-size: 1.25em;
  font-weight: 600;
  color: var(--font-color-gr);
  cursor: pointer;
  text-align: left;
  line-height: 20px;
}

.ticket-list .date,
.ticket-list .person,
.ticket-list input {
  padding-top: 1.5rem;
}

.itinerary>div {
  width: 12.5rem;
}

.ticket-list button.active,
.ticket-list input.active {
  color: #222;
}

/* 탑승객 선택 */

.passengers {
  display: flex;
}

.passengers .ticket-search:nth-child(1) {
  border-right: 1px solid #eee;
}

.last-name {
  border-right: 1px solid #eee;
}

/* 항공권 검색 버튼, 조회 버튼 */
.ticket-menu-wrap>div>button {
  width: 100%;
  height: 70px;
  color: #222;
  background: var(--main-color-yellow);
  font-size: var(--text2);
  font-weight: 600;
  line-height: 70px;
  border: none;
  cursor: pointer;
}

.ticket-menu-wrap>div>button:hover {
  background: #FFB411;
}



/* section 2 - 지금 뜨는 인기노선 */
.fav-wrap {
  height: 100vh;
}

.fav-title-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fav-list {
  width: 100%;
}

.fav-wrap h2 {
  font-size: 40px;
  font-weight: 700;
}

.fav-wrap .fav-list {
  display: flex;
  gap: 24px;
}

.fav-wrap .fav-list>div {
  position: relative;
  transition: 0.8s;
  width: 247px;
  height: 580px;
  border-radius: 28px;
  overflow: hidden;
  position: relative;
}

.fav-list .img-box>img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.fav-list .CJJ-IBR .img-box>img {
  transform: translateX(-70%);
}

.fav-wrap .fav-list>.active {
  width: 924px;
}

.fav-wrap .fav-list>.active .img-box>img {
  left: 50%;
  transform: translateX(-50%);
}

.fav-wrap .fav-list>.active .text-box .fav-title p:first-child {
  display: block;

}

.fav-wrap .fav-list>.active .text-box .fav-price {
  display: flex;
  line-height: 48px;
}


.fav-list .text-box {
  position: absolute;
  bottom: 60px;
  left: 50px;
  color: #fff;
}

.fav-list .text-box .fav-title {
  font-size: 26px;
  font-weight: 400;
  gap: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.fav-list .text-box .fav-title .under {
  display: inline-block;
  width: 14px;
  height: 5px;
  background: #FEC739;
}

.fav-list .text-box .fav-title p:first-child {
  display: none;
}

.fav-price-wrap {
  display: flex;
}

.fav-list .text-box .fav-price {
  font-size: 46px;
  font-weight: 800;
  display: none;
}

.fav-list .text-box .fav-price p:first-child {
  font-size: 24px;
  font-weight: 400;
  vertical-align: top;
  margin-right: 16px;
}


/* 수정 */
.notice-wrap {
  background-image: url(../images/background-section3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  /* padding: 160px 160px; */
}

.notice-wrap .notification-box {
  width: 100%;
}

.notice-wrap .inner>div {
  position: relative;
}

.notice-title-wrap>.notice-title {
  width: 30rem;
  font-size: 40px;
  font-weight: 700;
  /* margin-top: 160px; */
  margin-bottom: 30px;
  color: #fff;
}

.box-title,
.event-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.notice-title-wrap {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 50px;
  margin-bottom: 40px;

}

.icon {
  display: flex;
  gap: 8px;
}

.notice-wrap .contents,
.notice-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.event-banner {
  display: flex;
  flex: 0 0 30%;
  border-radius: 24px;
  /* width: 520px; */
  /* height: 660px; */
  flex-direction: column;
  background: #fff;
  overflow: hidden;
  position: relative;
}

.event-img img {
  display: flex;
  width: 520px;
  height: 430px;
}


.evnet-contents-wrap {
  padding: 30px;
}


.event-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0 0 68.5%;
}


.notice-list>div {
  height: 320px;
  border-radius: 24px;
  padding: 36px;
}

.cate-title {
  font-weight: var(--regular);
  font-size: var(--text4);
  margin-bottom: 30px;
}



.notice-box1 {
  flex: 1;
  background: var(--bg-color);
  position: relative;
}

.notice-box1>div,
.youtube-box>div {
  color: var(--sub-color);
}

.notice-box1>p,
.youtube-box>p {
  color: #fff;

}

.notice-box2 {
  flex: 1;
  background: var(--sub-color);
  position: relative;
}



.box-article {
  font-size: 18px;
  font-weight: var(--regular);
  line-height: 28px;
  margin-bottom: 20px;
}

.date {
  gap: 14px;
  bottom: 2rem;
  font-size: var(--text4);
  font-weight: var(--regular);
  /* bottom: 30px; */
}


.notice-btn>a {
  display: none;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  color: #fff;
  background: #0261EF;
  opacity: 0.8;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  right: 50px;
}

.nbox:hover .notice-btn>a {
  display: flex;

}

.youtube {
  display: flex;
  border-radius: 24px;
  overflow: hidden;

}

.youtube-box {
  /* width: 530px; */
  height: 300px;
  background: rgba(5, 54, 177, 0.5);
  padding: 30px;
  position: relative;
  flex: 0 0 50%;

}

.youtube-play {
  padding: 0;
  overflow: hidden;
  height: 100%;
  flex: 0 0 50%;
}

.youtube-play iframe {
  height: 100%;
}


/* section 4 - 다양한 혜택, 자주하는 질문*/

.benefit-wrap .section-title {
  font-size: 40px;
  color: #222222;
  padding-left: 0;
  left: 0;
  margin:0;
}

.benefit-wrap div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.more-btn {
  padding: 12px;
  width: 50px;
  height: 50px;
  background: #eee;
  border-radius: 50%;
}

.more-btn:hover {
  background: var(--main-color-yellow);
  transition: 0.4s;
}

.benefit-list {
  display: flex;
  /* gap: 30px;
  overflow-x: auto; */
  /* 가로 스크롤 PC버전에서 가로 스크롤을 없애면
    좌우로 움직이는 적용 X, 자바 배우고 나서 수정해야 됨*/
}

/* miri */
/* .benefit-list>.benefit-item{
  flex: 0 0 23%;
} */

.banner {
  position: relative;
}

.banner img {
  display: block;
  width:100%;
  /* width: 390px; */
  border-radius: 26px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.banner .benefit-text {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 22px;
  line-height: 1.4;
  color: var(--font-color-bk);
  font-weight: 600;
}

.kakaopay {
  position: relative;
}


.kakaopay::before {
  content: "";
  position: absolute;
  /* top값으로 주면 화면의 넓이를 줄였을 때 움직임
  bottom값으로 줘야 아래쪽에 붙어서 나오라고 함 */
  bottom: 20px;
  right: 30px;
  width: 97px;
  height: 40px;
  background-image: url(../images/payment_icon_yellow_small.png);
  background-size: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  /* box-shadow: 1px 1px 2px rgba(0, 0, 0,0.5); */
}

/* faq-wrap */

.faq-wrap {
  margin-top: 100px;
}

.faq-content-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom:36px;
}

.faq-wrap>.faq-top {
  align-items: center;
}

.faq-top>.section-title {
  font-size: 40px;
  margin:0;
}

.faq-top,
.benefit-wrap>h2 {
  margin-bottom: 30px;
  display: flex;
}

.faq-top>.faq-tab {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.faq-tab>.tab {
  font-size: 20px;
  font-weight: 600;
  color: var(--font-color-gr);
  padding: 0 20px;
  position: relative;
  gap: 20px;
}

.faq-tab>.tab:hover {
  color: var(--primary-color);
}

.faq-tab .active {
  color: var(--primary-color);
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 3px;
  background-color: var(--primary-color);
}



.faq-list {
  display: none;
  /* display: flex; */

  gap: 30px;
  margin:2px 2px;
}

.faq-list.active {
  display: flex;
  animation: fadeAni 0.8s;
}

/* @keyframes fadeAni {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
} */

.faq-list>.faq-item {
  display: flex;
  /* justify-content: center; */
  /* align-items: flex-start; */
  width: 376px !important;
  height: 220px;
  /* border-outline 명령어는 똑같은데, 
    outline 테두리와 유사하지만 공간을 차지하지 않는다 */
  outline: 2px solid #d9d9d9;
  border-radius: 28px;
  padding: 24px 40px;
}

.faq-item:hover {
  outline: 2px solid var(--sub-color);
}

/* .faq-item>.faq-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 260px;
  word-wrap: break-word;
} */

.faq-content>.faq-items {
  display: block;
  padding: 10px;
}

.faq-item .faq-Q {
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-color);
  padding-bottom: 16px;
}

.faq-item:hover .faq-Q {
  color: var(--sub-color);
}