:root {
  --main-color-yellow: #FEC739;
  --main-color-blue: #002554;
  --primary-color: #002554;
  --bg-color: #05183B;
  --sub-color: #FFB81c;
  --font-color-bk: #222222;
  --font-color-gr: #6c737e;
  --font-color-dark: #666666;
  --title1: 4.8rem;
  --title2: 4.0rem;
  --title3: 3.0rem;
  --title4: 2.6rem;
  --title5: 2.4rem;
  --title6: 2.8rem;
  --text1: 2.2rem;
  --text2: 2.0rem;
  --text3: 1.8rem;
  --text4: 1.6rem;
  --bold: 700;
  --semi: 600;
  --medium: 500;
  --regular: 400;
}


html {
  font-family: "Pretendard", sans-serif;
}


section {
  height: calc(var(--vh) * 100);
  /* min-height: 805px; */
  overflow: hidden;
}

.inner {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  /* background-color: rgba(0, 255, 0, 0.2); */
}

/* section title 공통사항 */
/* 수정 */
.section-title {
  font-size: var(--title2);
  font-weight: var(--bold);
  color: var(--font-color-bk);
  padding-left: 0;
  text-align: left;
  margin-bottom: 36px;
}

/*section1*/

/* 메인슬라이드영역 */
.main-slider-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.main-slider-wrap .text-box {
  position: absolute;

  max-width: 1600px;
  width: 100%;
  height: auto;

  /* background:rgba(177, 5, 14, 0.2); */

  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4.2rem;
}

.main-slider-wrap .swiper-pagination {
  position: absolute;

  max-width: 1600px;
  width: 100%;

  top: 380px;
  left: 50%;
  transform: translateX(-50%);

  text-align: left;

  /* background:rgba(177, 5, 14, 0.2); */
}

.swiper-pagination-bullet {
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
  z-index: 1000;
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active {
  width: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: left;
}

.swiper-slide .text-box {
  z-index: 100;
}

.swiper-slide .img-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: brightness(68%);
}

.swiper-slide img,
.swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* 티켓영역 */

.ticket-wrap .inner {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.ticket-menu-wrap {
  position: relative;
}

.tab-menu-list {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  width: 33.3%;
}

.tab-menu-list .active {
  background: #fff;
  color: #222;
  font-weight: 600;
}

.tab-menu-list>li {
  width: 100%;
  height: 60px;
  background: #001C40;
  text-align: center;
  line-height: 60px;
  font-size: var(--text3);
  font-weight: var(--regular);
  margin-right: 1px;
  color: #ffffff;
  cursor: pointer;
}

.ticket-content-wrap {
  display: none;
  background: #fff
}

.ticket-content-wrap.active {
  display: block;
}


/* ticket1 항공권예매 */
.ticket1 {
  height: 145px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.ticket1 .itinerary,
.ticket1 .calendar {
  display: grid;
  grid-template-columns: 1fr 24px 1fr;
  border-right: 1px solid #eee;
  gap: 20px;
  align-items: center;
}

.ticket1 .itinerary>img,
.ticket1 .calendar>img {
  width: 24px;
  height: 24px;
}

.calendar .ticket-search img,
.passengers>div img {
  margin-right: 8px;
}

.ticket-search {
  padding: 26px;
  text-align: left;
  border: 0;
  background: transparent;
  cursor: pointer;
}

/* 날짜선택 */
.ticket-menu-wrap>div span {
  font-size: var(--text4);
  color: #626262;

}

.calendar {
  border-right: 1px solid #eee;
}

.ticket-search>div {
  display: flex;
}

.ticket-content-wrap button,
.ticket-content-wrap input {
  width: 100%;
  border: transparent;
  background: transparent;
  font-size: var(--text2);
  font-weight: var(--semi);
  color: var(--font-color-gr);
  cursor: pointer;
  text-align: left;
  line-height: 20px;
}

.ticket-content-wrap .date,
.ticket-content-wrap .person,
.ticket-content-wrap input {
  padding-top: 24px;
}

.ticket-content-wrap button.active,
.ticket-content-wrap input.active {
  color: #222;
}


/* 탑승객 선택 */

.ticket1 .passengers {
  display: grid;
  grid-template-columns: 54% 46%;
}

.passengers .ticket-search:nth-child(1) {
  border-right: 1px solid #eee;
}

.last-name {
  border-right: 1px solid #eee;
}

.flight-search {
  border-right: 1px solid #eee;
}

/* ticket2 예약, ticket3 체크인 */
.ticket2,
.ticket3 {
  display: grid;
  grid-template-columns: 1fr 1fr 50%;
  height: 145px;
  align-items: center;
}

.ticket2 .passenger,
.ticket3 .passenger {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


/* 항공권 검색 버튼, 조회 버튼 */
.ticket-menu-wrap>div>button {
  width: 100%;
  height: 70px;
  color: #222;
  background: var(--main-color-yellow);
  font-size: var(--text2);
  font-weight: var(--semi);
  line-height: 70px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.ticket-menu-wrap>div>button:hover {
  background: #FFB411;
}





/* section 2 - 지금 뜨는 인기노선 */
.fav-wrap {
  display:flex;
  align-items: center;
  justify-content: center;
}

.fav-title-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fav-list {
  width: 100%;
}

.fav-wrap h2 {
  font-size: var(--title2);
  font-weight: var(--bold);
}

.fav-wrap .fav-list {
  display: flex;
  gap: 24px;
}

.fav-wrap .fav-list>div {
  position: relative;
  transition: 0.8s;
  width: 247px;
  height: calc(var(--vh)*60);
  border-radius: 28px;
  overflow: hidden;
  position: relative;
}

.fav-list .img-box>img {
  height:100%;
  object-fit: cover;
  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.fav-list .CJJ-IBR .img-box>img {
  transform: translateX(-70%);
}

.fav-wrap .fav-list>.active {
  width: 924px;
}

.fav-wrap .fav-list>.active .img-box>img {
  width:100%;
  object-fit: cover;

  left: 50%;
  transform: translateX(-50%);
}

.fav-wrap .fav-list>.active .text-box{
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
}

.fav-wrap .fav-list>.active .text-box .fav-title p:first-child {
  display: block;
}

.fav-wrap .fav-list>.active .text-box .fav-title{
  font-size: var(--title4);
  font-weight: var(--bold);
  gap: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  transform:rotate(0deg);
}

.fav-wrap .fav-list>.active .text-box .fav-price {
  display: flex;
  line-height: var(--title2);
}


/* .fav-list .text-box {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
} */

.fav-list .text-box .fav-title {
  position: absolute;
  bottom: 52px;
  color: #fff;

  font-size: var(--title4);
  font-weight: var(--bold);
  gap: 10px;
  display: flex;
  align-items: center;
  transform: rotate(90deg);
}

.fav-list .text-box .fav-title .under {
  display: inline-block;
  width: 14px;
  height: 5px;
  background: #FEC739;
}

.fav-list .text-box .fav-title p:first-child {
  display: none;
}

.fav-price-wrap {
  display: flex;
}

.fav-list .text-box .fav-price {
  font-size: var(--title2);
  font-weight: var(--bold);
  display: none;
}

.fav-list .text-box .fav-price p:first-child {
  font-size: var(--text1);
  font-weight: var(--regular);
  vertical-align: top;
  margin-right: 8px;
}


/* section 3 _ notice-wrap */
.notice-wrap {
  background-image: url(../images/background-section3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;

  /* min-height:calc(var(--vh)*100);
  height:auto; */
  /* overflow:visible; */
  /* padding: 160px 160px; */
}

.notification-box{
  width:100%;
  height:100%;
  /* display:flex;
  align-items: center;
  justify-content: center; */
}

.notification-box .inner{
  /* max-height:clac(var(--vh)*100); */
  /* height: 100%; */
}
/* motice-title-wrap */
.notice-title-wrap {
  display: flex;
  justify-content: space-between;
}

.notice-title-wrap .section-title {
  color: #fff;
}

.notice-title-wrap .icon {
  display: flex;
  gap: 8px;
}


/* contents */
.contents {
  height:88%;
  display: grid;
  grid-template-columns: 30% repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.contents>div {
  border-radius: 24px;
}

.box1 {
  grid-row: 1/3;
  background: #fff;
}

.box1 .event-img {
  border-radius: 24px 24px 0 0;
  width: 100%;
  height: 74%;
  overflow: hidden;
}

.box1 .event-img img {
  width: inherit;
  height: 100%;
  object-fit: cover;
}

.box1 .evnet-contents-wrap {
  padding: 30px;
}

.cate-title {
  font-weight: var(--regular);
  font-size: var(--text4);
  margin-bottom: 30px;
}

.box2 .cate-title,
.box4 .cate-title {
  color: var(--main-color-yellow);
}

.box-title,
.event-title {
  font-size: var(--title6);
  font-weight: var(--semi);
  margin-bottom: 20px;
}

.box-article {
  font-size: var(--text3);
  font-weight: var(--regular);
  line-height: 28px;
  margin-bottom: 20px;
}

.date {
  font-size: var(--text4);
  font-weight: var(--regular);
}

.box2 {
  background: var(--bg-color);
  padding: 36px;
  color: #fff;
}

.box3 {
  background: var(--sub-color);
  padding: 36px;
}

.box4 {
  display: flex;
  grid-column: 2/4;
  background: rgba(5, 54, 177, 0.5);
  color: #fff;
  overflow: hidden;
}

.box4 .youtube-box {
  padding: 30px;
}

.box4 .youtube-play {
  padding: 0;
  overflow: hidden;
  min-height: 315px;
  height: 100%;
  flex: 0 0 50%;
}

.box4.youtube-play iframe {
  height: 100%;
}



.nbox:hover .notice-btn>a {
  display: flex;
}

.notice-btn>a {
  display: none;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  color: #fff;
  background: #0261EF;
  opacity: 0.8;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  right: 50px;
}

/* section 4 - 다양한 혜택, 자주하는 질문*/
.FAQ{
  /* display:flex;
  align-items: center;
  justify-content: center; */
}

.FAQ .inner{
  height:auto;
}

.benefit-wrap .section-title {
  font-size: 40px;
  color: #222222;
  padding-left: 0;
  left: 0;
  margin: 0;
}

.benefit-wrap div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.more-btn {
  padding: 12px;
  width: 50px;
  height: 50px;
  background: #eee;
  border-radius: 50%;
}

.more-btn:hover {
  background: var(--main-color-yellow);
  transition: 0.4s;
}

.benefit-list {
  display: flex;
  /* gap: 30px;
  overflow-x: auto; */
  /* 가로 스크롤 PC버전에서 가로 스크롤을 없애면
    좌우로 움직이는 적용 X, 자바 배우고 나서 수정해야 됨*/
}

/* miri */
/* .benefit-list>.benefit-item{
  flex: 0 0 23%;
} */

.banner {
  position: relative;
}

.banner img {
  display: block;
  width: 100%;
  /* width: 390px; */
  border-radius: 26px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.banner .benefit-text {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 22px;
  line-height: 1.4;
  color: var(--font-color-bk);
  font-weight: 600;
}

.kakaopay {
  position: relative;
}


.kakaopay::before {
  content: "";
  position: absolute;
  /* top값으로 주면 화면의 넓이를 줄였을 때 움직임
  bottom값으로 줘야 아래쪽에 붙어서 나오라고 함 */
  bottom: 20px;
  right: 30px;
  width: 97px;
  height: 40px;
  background-image: url(../images/payment_icon_yellow_small.png);
  background-size: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  /* box-shadow: 1px 1px 2px rgba(0, 0, 0,0.5); */
}

/* faq-wrap */

.faq-wrap {
  margin-top: 100px;
}

.faq-content-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.faq-wrap>.faq-top {
  align-items: center;
}

.faq-top>.section-title {
  font-size: 40px;
  margin: 0;
}

.faq-top,
.benefit-wrap>h2 {
  margin-bottom: 30px;
  display: flex;
}

.faq-top>.faq-tab {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.faq-tab>.tab {
  font-size: 20px;
  font-weight: 600;
  color: var(--font-color-gr);
  padding: 0 20px;
  position: relative;
  gap: 20px;
}

.faq-tab>.tab:hover {
  color: var(--primary-color);
}

.faq-tab .active {
  color: var(--primary-color);
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 3px;
  background-color: var(--primary-color);
}



/* faq-list -- swiper */

.faq-list {
  display: none;
  /* display: flex; */

  /* gap: 30px; */
  /* margin: 2px; */
}

.faq-list.active {
  display: flex;
  animation: fadeAni 0.8s;
}

/* @keyframes fadeAni {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
} */

.faq-list>.faq-item {
  max-width: calc((100% - 60px) / 4);
  display: block;
  height: 220px;
  /* outline: 2px solid #d9d9d9; */
  border: 2px solid #d9d9d9;

  border-radius: 28px;
  padding: 24px 40px;
  /* box-sizing: border-box; */
}


.faq-item:hover {
  border: 2px solid var(--sub-color);
  /* outline: 2px solid var(--sub-color); */
}

/* .faq-item>.faq-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 260px;
  word-wrap: break-word;
} */

.faq-content>.faq-items {
  display: block;
  padding: 10px;
  font-size: var(--text3);
}

.faq-item .faq-Q {
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-color);
  padding-bottom: 16px;
}

.faq-item:hover .faq-Q {
  color: var(--sub-color);
}