section {
  height: 100vh;
  min-height: 805px;
  overflow: hidden;
}

.inner {
  /* margin: auto; */
  margin: 120px auto;
  max-width: 1600px;
  /* 수정 */
  width: 100%;
  /* background-color: rgba(0, 255, 0, 0.2); */
}

/*page location*/
.page-location-wrap {
  display: flex;
  position: absolute;
  font-size: var(--text4);
  font-weight: var(--regular);
  color: rgba(255, 255, 255, 0.7);
  /* background-color: #ff5f5f; */
  width: 300px;
  top: 14.4rem;
  right: 16rem;
  gap: 8px;
  justify-content: flex-end;
  z-index: 3;
}

.page-location-wrap .active {
  color: #fff;
}



/* 메인타이틀 */
.section-title {
  position: absolute;
  color: #fff;
  top: 32%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  margin: 0 auto;
}

.section-title h2 {
  font-size: 52px;
  font-weight: var(--semi);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;
}

.section-title>p {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.bg {
  width: 100%;
  height: 120vh;
}


/* 티켓영역 */
.ticket-wrap .inner {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translateX(-50%);
  z-index: 2;
}

.tab-menu-list {
  display: flex;
}

.tab-menu-list .active {
  background: #fff;
  color: #222;
  font-weight: 600;
}

.tab-menu-list>li {
  width: 9.85rem;
  height: 60px;
  background: #001C40;
  text-align: center;
  line-height: 60px;
  font-size: var(--text3);
  font-weight: 400;
  margin-right: 1px;
  color: #ffffff;
  cursor: pointer;
}

.ticket-content-wrap {
  display: none;
}

.ticket-content-wrap.active {
  display: block;
}

/* 티켓 탭내용 */
.ticket-list {
  height: 145px;
  background: #fff;
  display: flex;
}

/* 자식들을 1대1대1 */
.ticket-list>div {
  flex: 1;
}


/* 출발지,도착지 선택 */
.itinerary,
.flight-search {
  display: flex;
  border-right: 1px solid #eee;
  gap: 20px;
}

.itinerary>img,
.calendar>img,
.start-date>img {
  width: 24px;
  height: 24px;
  margin-top: 76px;
}

.ticket-search {
  /* width: 14rem; */
  padding: 2.2rem;
  text-align: left;
  border: 0;
  background: transparent;
  cursor: pointer;
  position: relative;
}


/* 날짜선택 */
.ticket-menu-wrap>div span {
  font-size: 1.1rem;
  color: #626262;

}

.calendar {
  border-right: 1px solid #eee;
  display: flex;

}

.ticket-search>div {
  display: flex;
}

.ticket-list button,
.ticket-list input {
  width: 100%;
  border: transparent;
  background: transparent;
  font-size: 1.25em;
  font-weight: 600;
  color: var(--font-color-gr);
  cursor: pointer;
  text-align: left;
  line-height: 20px;
}

.ticket-list .date,
.ticket-list .person,
.ticket-list input {
  padding-top: 1.5rem;
}
.date>img, .person>img {
  padding-right: 10px;
}

.itinerary>div {
  width: 12.5rem;
}

.ticket-list button.active,
.ticket-list input.active {
  color: #222;
}

/* 탑승객 선택 */

.passengers {
  display: flex;
}

.passengers .ticket-search:nth-child(1) {
  border-right: 1px solid #eee;
}

.last-name {
  border-right: 1px solid #eee;
}

/* 항공권 검색 버튼, 조회 버튼 */
.ticket-menu-wrap>div>button {
  width: 100%;
  height: 70px;
  color: #222;
  background: var(--main-color-yellow);
  font-size: var(--text2);
  font-weight: 600;
  line-height: 70px;
  border: none;
  cursor: pointer;
}

.ticket-menu-wrap>div>button:hover {
  background: #FFB411;
}


